{% extends 'layout.html' %} {% block content %}

<section class="about">
  <h1>About VietGuard</h1>

  <p>
    VietGuard là hệ thống nhận diện tin giả tiếng Việt sử dụng mô hình PhoBERT
    và Deep Learning.
  </p>

  <p>
    Dự án được phát triển nhằm hỗ trợ người dùng phát hiện các bài báo hoặc
    thông tin sai lệch trên Internet.
  </p>

  <h2>Công Nghệ Sử Dụng</h2>

  <ul>
    <li>PhoBERT</li>
    <li>Transformers</li>
    <li>PyTorch</li>
    <li>Flask</li>
  </ul>
</section>

{% endblock %}
